clearfix:after { content: " ";  
    visibility: hidden; 
    display: block; 
    height: 0;
     clear: both; 
    }
    body {
        font-family: 'Open Sans Condensed', sans-serif;
        padding: 0;
        margin: 0;
     }
     a {
        text-decoration: none;
        color: #fff;
        display: block;
     }
     li {
        list-style: none;
     }
     p {
        margin: 0;
        color: #fff;
     }
     img {
        max-width: 100%;
     } 
     .container{
         width: 1170px;
         margin: auto 0;
     }
     .header-section{
        padding: 20px 20px;
     }
     .bg-img{
        background-image: url(../img/banner.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 730px;
    
     }
     .content{
        padding: 100px 0;
    position: relative;
    text-align: center;
     }
     .text-sec-1{
        margin: 8% 0 1%;
     }
     .header {
        color: #fff;
        font-size: 60px;
        font-weight: normal;
        margin-bottom: 0px;
    }
     .line{
       
    color: #fff;
    font-size: 25px;
    top: 65%;
    left: 40%;
     }
     .help{
        color: #fff;
        font-size: 15px;
        left: 0;
        position: absolute;
        bottom: -110px;
        text-align: center;
        width: 100%;
        word-spacing: 5px;
        text-decoration: underline;
     }
     .snappy-block.clg{
        background-image: url(../img/img_3.png);
        color: #fff;
        background-repeat: no-repeat;
        background-size: cover;
            min-height: 500px;
     }
     .snappy-block{
        background-image: url(../img/img_2.png);
        color: #fff;
        background-repeat: no-repeat;
        background-size: cover;
            min-height: 500px;
    }
    .snappy-content {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 25%;
     }
     .md-8 {
        width: 75%;
        float: left;
        position: relative;
     }
     .md-4{
        width: 25%;
        float: left;
     }
     .contact-block {
            background: #A0CF32;
        min-height: 500px;
     }
     .contact-content p {
        font-size: 13px;
        text-align: justify;
     }
     .contact-content {
        color: #fff;
        padding: 60px 30px;
        }
        .icon-edit {
            text-align: center;
            margin-bottom: 25px;
        }   
        .hd-txt{
            color: #A0CF32;
            font-size: 40px;
        }  
        .snap-txt{
            font-size: 40px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
        }   